/* Profile.css */

body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
  }
  
  .container {
    width: 400px;
    margin: 0 auto;
    margin-top: 150px;
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  h2 {
    text-align: center;
    color: #007bff;
    margin-bottom: 30px;
  }
  
  .profile-info {
    margin-bottom: 20px;
  }
  
  .profile-info label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
  }
  
  .profile-info p {
    margin-bottom: 5px;
  }
  
  .dashboard-button {
    text-align: center;
  }
  
  .dashboard-button a {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .dashboard-button a:hover {
    background-color: #0056b3;
  }
  